
/* =================================================Hide the sidebar for displays smaller than 450px================================================== */
@media (max-width:450px){
    .sidebar{
        display: none;
    }
}

/* ========================================================================================================================================== */
.sidebar{
    background-color: #2E3236;
    /* sidebar will always take 30% of the screen */
    flex:0.3;
    /*dont be less that 340px*/                                      /*SIDEBAR WIDTH*/         
    min-width: 340px;
    padding-left: 20px;
    padding-right: 20px;

}

.sidebar__event:hover{
    background-color: #7389DA !important;
}
.sidebar__event > button{
    background: rgb(86,108,183);
    background: linear-gradient(90deg, rgba(86,108,183,0.9290091036414566) 39%, rgba(190,185,249,1) 100%);
}
.sidebar__event >button :hover{
    background: rgb(111,144,255);

}

.sidebar__createEventIcon{
    color: var(--twitter-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-top: 20px;
}
.sidebarOptions:hover{
    background-color:#6B6B6B;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out ;

}
