@media (min-width: 0px) and (max-width:450px){
    .yourPosts{
        margin-top: 60px;
        flex: 1;
    }
    
}


@media (min-width: 451px) and (max-width:2048px){
    .yourPosts{
        margin-top: 10px;
        margin-bottom: 60px;
        flex: 1;
    }
}   

/*image inside the grid box*/
.MuiGridListTile-imgFullHeight {
    /*make sure images dont go out of their grid boxes*/
    width: 100% !important;
}
/*extra padding to entire grid box*/
.MuiBox-root-26534 {
    padding: 0px !important;
}
