@media (min-width: 0px) and (max-width:450px){  
  .chat{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: '#363A3E';
    margin-top:10px;
    margin-bottom: 70px;
  }
  .chat__sendMessage{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: '#363A3E';
    margin-top:10px;
  }
}  
@media (min-width: 451px) and (max-width:2048px){  
  .chat{

    background-color: '#363A3E';
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .chat__sendMessage{
    display: flex;
    justify-content: center;
    background-color: '#363A3E';
    margin-top: 10px;
  }
    
} 
.chat__header{
  display: flex;
  justify-content: center;
  color:grey;
}

.chat__messages{
  display: flex;
  flex-direction: column;
}
.chat__body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}