@media (min-width: 0px) and (max-width:450px){  
  .chat{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: '#363A3E';
    margin-top:10px;
  }


.chat__header{
  color:grey;
  padding:10px;
  }
  

}  
@media (min-width: 451px) and (max-width:2048px){  
  .chat{
    display: flex;
    justify-content: center;
    background-color: '#363A3E';
    padding-top: 10px;
  }



.chat__header{
  color:grey;
  }
  

}  

