@media (min-width: 0px) and (max-width:320px){  
  .chat{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: '#363A3E';
    margin-top:10px;
    overflow-y: hidden;
    max-height:80vh;
  }
  .chat__sendMessage{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: '#363A3E';
    margin-top:10px;
  }
  .chat__messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height:73vh;
  }
}  

@media (min-width: 321px) and (max-width:450px){  
  .chat{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: '#363A3E';
    margin-top:10px;
    overflow-y: hidden;
    max-height:80vh;
  }
  .chat__sendMessage{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: '#363A3E';
    margin-top:10px;
  }
  .chat__messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height:79vh;
  }
}  

@media (min-width: 451px) and (max-width:2048px){  
  .chat{
    background-color: '#363A3E';
    margin-top: 10px;
    max-height:75vh;
  }
  .chat__sendMessage{
    display: flex;
    justify-content: center;
    background-color: '#363A3E';
    margin-top: 10px;
  }

  .chat__messages{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    overflow-y: scroll;
    max-height:75vh;
  }
    
} 
.chat>center{
  color:gray;
}

.chat__body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*========================hide scrollbar for different browsers======================*/
/* Hide scrollbar for Chrome, Safari and Opera */
.chat__messages::-webkit-scrollbar {
  display: none;
}
/*------------------------------------------------------------------------------------*/
.chat__messages{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
/*====================================================================================*/