.message{
padding:10px;
margin: 10px;
width:fit-content;

}
.message__header{
    display: flex;
    color:#E6E6E6;

}

.message__avatar{
    margin-top: 8px;
    margin-left: 8px;
}

.message__username{
    font-size: large;
    margin-top: 20px !important;
    margin-left: 20px !important;
}
.message__message{
    color:white;
}

.message__typography{
    flex: auto;
    text-align: start;
}

.MuiTypography-h6{
    margin: 10px !important;
    padding-left:10px !important;
}

.MuiCardContent-root:last-child{
    padding: 20px;
}

.message__user{
    
    margin-left:auto ;
    color:white;
    text-align: right !important;
}

.message_userCard{
background-color: #363A3E !important;
}

.message_guestCard{
background-color: whitesmoke !important;
}
