  @media (min-width: 0px) and (max-width:450px){
    .sendMessage{
      z-index: 10000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin-top: 10px;
      position: fixed;
      bottom: 0;
      background-color: #1A1A1A;
      border:none;
      height: 51px;
      padding-bottom: 10px;
  
  }
    .chat__inputForm{
      flex-grow: 100;
      display: flex;
      padding: 10px;
      position: relative;
      bottom: 0;
      border:none;
      color:grey;
      padding-bottom: 10px;
    }
    .chat__inputForm>input{
      padding-bottom: 10px;
    }
  
    .sendMessage__input{
      flex: 1 !important;
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;    
      justify-content: space-between;
    }
}

@media (min-width: 451px) and (max-width: 2048px) {
  .sendMessage{
    z-index: 10000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    background-color: #1A1A1A;
    border:none;
    height: 51px;

}
  .chat__inputForm{
    flex-grow: 100;
    display: flex;
    padding: 10px;
    padding-left: 20px;
    position: relative;
    bottom: 0;
    border:none;
    color:grey;
    padding-bottom: 10px;
  }

  .sendMessage__input{
    flex: 1 !important;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
    margin-left: 20px;
  }
    
}

.sendMessage__emojiIcon{
margin-top: 10px;
}
.sendMessage__emojiPicker__show{
  display: flex;
  margin-bottom: 80px;
}
.sendMessage__emojiPicker__hide{
  display: none;
}
