.sendMessage{
    z-index: 10000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    background-color: #1A1A1A;
    border:none;
    height: 51px;

}
  .chat__inputForm{
    flex-grow: 100;
    display: flex;
    padding: 10px;
    padding-left: 20px;
    position: relative;
    bottom: 0;
    border:none;
    color:grey;
    padding-bottom: 10px;
  }

  .sendMessage__input{
    flex: 1 !important;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
  }
  
 