/*by default there is a margin of 10px.Remove that*/
*{
  margin: 0;
  }
  


  @media (min-width: 0px) and (max-width:450px){
    .app__searchbarMobile{
    display: flex;
    width: 100%;
    /* background-color: #2E3336; */
    align-items: center;    
    justify-content: flex-end;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    position: relative;
    z-index: 200;
    overflow-x: scroll;
    }
    
    .app__searchbarMobileInputBox{
      display: flex;
      justify-content: center;
      align-items:center;
      /* background-color: #2E3336; */
      padding:10px;
      width: 100%;
      
  }
  .app__searchbarMobileInputBox>input{
    flex:1;
  }


  .app__feed{
      background-color: #2E3236;
      padding: 10px;
      overflow-y: scroll;
  
  }
  .app__body{
    height: 88vh;
  }
  .app__speedDialMobile{
    display: inline;
  }

  .app__headerDisplayName{
    color: aliceblue;
    font-size: small;
  }
}

  @media (min-width: 451px) and (max-width: 2048px) {
      .app__searchbarMobile{
        display:none;
      }
      .app__body{
        display: flex;
        height: 88vh;
        overflow-x: hidden;
      }
      .app__speedDialMobile{
        display: none;
      }
      .app__headerDisplayName{
        color: aliceblue;
      }
      
  }

  .app{
    background-color:#363A3E;
  }
  
  .app__header{
  flex: 1;
  /*object-fit:contain = however the container changes just keep the image same size
  image will always look perfect not streched or something  
  (keep the aspect ratio even when page is resized) */
  /* object-fit: contain;
  background-color: #363A3E;
  padding: 20px;
  border-bottom: 1px solid #111111; */
  /*keep the elements in the header side by side rather than one on top of the other */
  display: flex;
  /*keep space between two elements*/
  justify-content: space-between;
  /*position: sticky;
  top: 0;*/
  z-index: 101
  }
  .app__headerProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .app__headerAvatar{
    
  } */
  .app__bodyUserNotLoggedIn{
    display: flex;
    opacity: 0.2;
  }
  /*CHANGE FEED WIDTH*/
  .app__feed{
      flex:0.6;
      display: flex;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #363A3E;
      overflow-y: scroll;  
  }
  .app__eventsFeed{
    flex:0.6;
    display: flex;
    justify-content: center;
    background-color: #363A3E;
    overflow-y: scroll; 
    padding: 8px; 
}

.app__chat{
  background-color: #363A3E;
  overflow-y: scroll; 
  /* overflow-x: clip; */
  width:100%
}
.app__chatsFeed{
  display: flex;
  justify-content: center;
  background-color: #363A3E;
  width:100%
}
.app__profile{
  display: flex;
  justify-content: center;
  background-color: #363A3E;
  overflow-y: scroll; 
  width:100%
}
.app__createEvent{
  flex:1;
  display: flex;
  justify-content: center;
  background-color: #363A3E;
  overflow-y: scroll; 
  width:100%
}
.app__createConfessions{
  flex:1;
  display: flex;
  justify-content: center;
  background-color: #363A3E;
  overflow-y: scroll; 
  width:100%
}
.app__confessionsFeed{
  flex:1;
  /* display: flex;
  justify-content: center; */
  background-color: #363A3E;
  overflow-y: scroll; 
  width:100%
}
.app__signup{
    display: flex;
    flex-direction: column;
  }
  
  .app__headerImage{
    object-fit: contain;
    width: 100px;
  }

  .app__loginContainer  > Button {
   color: aliceblue;
  }
  .app__header > Button {
    color: aliceblue;
  }
  /*speed Dial icon colors*/
  .MuiBottomNavigationAction-root{
    color: rgb(169 169 169 / 54%) !important;
  }
  /*speed dial navigation bar border-top*/
  .MuiBottomNavigation-root{
    border-top: 1px solid;
  }

/*========================hide scrollbar for different browsers======================*/
/* Hide scrollbar for Chrome, Safari and Opera */
.app__feed::-webkit-scrollbar {
  display: none;
}
.app__eventsFeed::-webkit-scrollbar {
  display: none;
}
.app__chat::-webkit-scrollbar {
  display: none;
}
.app__profile::-webkit-scrollbar {
  display: none;
}
.app__createEvent::-webkit-scrollbar {
  display: none;
}
.app__creatConfessions::-webkit-scrollbar {
  display: none;
}
.app__confessionsFeed::-webkit-scrollbar {
  display: none;
}
/*------------------------------------------------------------------------------------*/
.app__feed{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.app__eventsFeed{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
.app__chat{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
.app__profile{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
.app__createEvent{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
.app__creatConfessions {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
.app__confessionsFeed{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
/*====================================================================================*/
a{
  text-decoration: 'none';
  color: #363A3E;
}