/*by default there is a margin of 10px.Remove that*/
*{
  margin: 0;
  }
  


  @media (min-width: 0px) and (max-width:450px){
    .app__sidebarMobile{
    display: flex;
    width: 100%;
    background-color: #1A1A1A;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    position: fixed;
    z-index: 200;
    }
    .app__feed{
      background-color: #2E3236;
      padding: 20px;
      overflow-y: scroll;
      margin-top: 65px; 
  
  }
}

  @media (min-width: 451px) and (max-width: 2000px) {
      .app__sidebarMobile{
        display:none;
      }
  }

  .app{
    background-color:#363A3E;
  }
  
  .app__header{
  /*object-fit:contain = however the container changes just keep the image same size
  image will always look perfect not streched or something  
  (keep the aspect ratio even when page is resized) */
  object-fit: contain;
  background-color: #363A3E;
  padding: 20px;
  border-bottom: 1px solid #111111;
  /*keep the elements in the header side by side rather than one on top of the other */
  display: flex;
  /*keep space between two elements*/
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  }
  
  .app__body{
    display: flex;
    height: 100vh;
  }
  .app__bodyUserNotLoggedIn{
    display: flex;
    opacity: 0.2;
  }
  /*CHANGE FEED WIDTH*/
  .app__feed{
      background-color: #2E3236;
      padding: 20px;
      overflow-y: scroll;  
  
  }
.app__chat{
  background-color: #2E3236;
  padding: 20px;
  overflow-y: scroll; 
  width:100%
}
  .app__signup{
    display: flex;
    flex-direction: column;
  }
  
  .app__headerImage{
  
    object-fit: contain;
  }

  .app__loginContainer  > Button {
   color: aliceblue;
  }
  .app__header > Button {
    color: aliceblue;
  }


