
  @media (min-width: 0px) and (max-width:450px){
    .bottomNavigation{
        z-index: 1000;
        margin-top: 10px;
        bottom: 0;
        border:none;
        }
}

@media (min-width: 451px) and (max-width: 2048px) {
    
    .bottomNavigation{
        display:none;
        }
}





