.confessions{
    display: flex;
    background-color:#363A3E;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #919191;
}
.confessions__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #919191;
    color: aliceblue;
    padding: 20px;
}
.confessions__header > .MuiAvatar-root {
    margin-right: 15px;
}
.confessions__confession{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
}
.confessions__footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confessions__commentsIcon{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.confessions__comments{
    padding: 20px;
}

.confessions__comments > p{
color: aliceblue;
}

.confessions__commentBox{
    display: flex;
    padding: 20px;
 
}
.confessions__input{
flex:1;
border:none;
padding: 10px;
border-top: 1px solid lightgray;
}