

@media (min-width: 0px) and (max-width:450px){

}
@media (min-width:451px) and (max-width:2048px){

}

.confessions{
    display: flex;
    background-color:#363A3E;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #919191;
}
.confessions__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #919191;
    color: aliceblue;
    padding: 20px;
}
.confessions__header > .MuiAvatar-root {
    margin-right: 15px;
}
.confessions__confession{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
}
.confessions__footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.confessions__likes{
    display: flex;
    flex-direction: column;
}
.confessions__likesCount{
    color: aliceblue;
    font-size: small;
  }
.confessions__commentsIcon{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.confessions_commentWrapper{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-top: 1px solid #919191 ;
    padding-top: 10px;
    padding-bottom: 10px;

}
.confessions__comments{
    color: aliceblue;
    font-size: small;
}

.confessions__commentBox{
    display: flex;
    padding: 20px;
 
}
.confessions__commentsIconCommentsCount{
    color: aliceblue;
    font-size: small;
}
.confessions__input{
flex:1;
border:none;
padding: 10px;
border-top: 1px solid lightgray;
}