@media (min-width: 0px) and (max-width:450px){  
    .createEventWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .createEvent{
        display: flex;
        justify-content: center;
        margin-left:4px;
        overflow-y: scroll;
    }
    #createEvent_h2{
        display: flex;
        justify-content: center;
        padding: 5px;
        color:gray;
    }
}    
    
    @media (min-width: 451px) and (max-width: 2048px) {  

        .createEventWrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        .createEvent{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-y: scroll;
           
        } 
        #createEvent_h2
        {   display: flex;
            justify-content: center;
            color:gray;
            padding: 5px;
        }
    }     

.createEvent_formContainer{
    display: flex;
    flex:1;
}
.createEvent__form{
    padding: 10px;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
}
.createEvent__form > .createEvent__title{
    margin-top:10px;
}
.createEvent__form > .createEvent__venue{
    margin-top:10px;
}
.createEvent__form >  .createEvent__textarea{
    margin-top: 10px;
}
.createEvent__fileInput{
    flex: 0 !important;
    padding:10px;
    display: none !important;
    }
.MuiIconButton-root{
    font-size :0 !important;
}

.MuiFormLabel-root {
    color:gray !important;
}

.MuiInputBase-input{
    color: aliceblue !important;
   
}
/* text area */
.MuiFormControl-root  {
    margin-top: 10px !important;
}
.MuiButton-containedPrimary {
    margin-top: 10px !important;
}
.MuiFilledInput-adornedEnd {
    margin-bottom: 10px !important;
}