
@media (min-width: 0px) and (max-width:450px){
    .feedEvents{
        flex:0.4;
        background-color: #2E3236;
        padding: 20px;
        overflow-y: scroll;
    }

}
@media (min-width: 451px) and (max-width:2048px){
    .feedEvents{
        flex:0.4;
        padding: 20px;
        overflow-y: scroll;
        margin-left: 30px;
        margin-right: 30px;
    }
    
  }