
.post{
    background-color: #2E3236;
    border-bottom:0.3px solid lightgray;
    margin-bottom: 30px;
    min-width: fit-content;
    /*if content is bigger than the available space in the container make it scrollable along y-direction*/
    overflow-y: scroll;

}


.post__image{
width: 100%;
object-fit: contain;

}

.post__text{
font-weight: normal;
padding: 20px;
color: aliceblue;

}

/* display:flex = keep avatar and the username in a row 
align-items: center = align the avatar and the username in the center  */
.post__header{
display:flex;
align-items: center;
padding: 20px 10px;
}
.post__header > h3{
    color: aliceblue;
}

.post__avatar{
margin-right: 10px;
}

.post__comments{
    padding: 20px;
}

.post__comments > p{
color: aliceblue;
}

.post__commentBox{
    display: flex;
    padding: 20px;
 
}

.post__commentBox >form {
width: 100%;
flex-direction: row;
align-items: center;    
justify-content: space-between;
}

.post__commentBox > Button{ 
color:aliceblue;
}

.post__input{
    flex:1;
    border:none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post_button{
    flex:0 !important; 
    border: none;
    display: none !important;
} 

.post__footer{
    display: flex;
    justify-content:space-between;
    margin:10px 20px;
}
