
  @media (min-width: 0px) and (max-width:450px){
    .post{
        display: flex;
        flex-direction:column;
        background-color: #363A3E;
        border-bottom:0.3px solid lightgray;
        margin-bottom: 30px;
        min-width: fit-content;
        /*if content is bigger than the available space in the container make it scrollable along y-direction*/
        overflow-y: scroll;
    
    }
}


.post{
    display: flex;
    flex-direction:column;
    background-color: #363A3E;
    border-bottom:0.3px solid lightgray;
    margin-bottom: 30px;
    min-width: fit-content;
    /*if content is bigger than the available space in the container make it hidden*/
    overflow-y: hidden;

}
@media (min-width: 451px) and (max-width:2048px){

}

.post__image{
width: 100%;
object-fit: contain;

}

.post__text{
font-weight: normal;
padding: 20px;
color: aliceblue;

}

/* display:flex = keep avatar and the username in a row 
align-items: center = align the avatar and the username in the center  */
.post__header{
display:flex;
align-items: center;
padding-top: 10px; 
padding-bottom: 10px;
}
.post__header > h3{
    color: aliceblue;
}

.post__header > button{

    background-color:#556ab5;
    color: aliceblue;
    margin-left: 55px;
}
.post__header > .MuiSvgIcon-root {
margin-left: auto;
color: aliceblue;
}

.post__header > span > button{

    background-color:#556ab5;
    color: aliceblue;
    margin-left: 55px;
}
.post__header > span > button:hover{
    background-color: #7389DA;
}
.post__header > button:hover{
    background-color: #7389DA;
}

.post__avatar{
margin-right: 10px;
}
.post__avatarModal{
    top:100;
    left:100;
    transform: translate(-100, -100);
}
.post__likes{
    display: flex;
    flex-direction: column;
}
.post__commentsIcon{
    display: flex;
    flex-direction: column;
}
/* .post__comments{
    
} */

.post__comments > p{
color: aliceblue;
}

.post__commentBox{
    display: flex;
    padding: 20px;
 
}

.post__commentBox >form {
width: 100%;
flex-direction: row;
align-items: center;    
justify-content: space-between;
}

.post__commentBox > Button{ 
color:aliceblue;
}

.post__input{
    flex:1;
    border:none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post_button{
    flex:0 !important; 
    border: none;
    display: none !important;
} 

.post__footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:10px 20px;
}
