


  @media (min-width: 0px) and (max-width:450px){
    .profile{
        margin-top:80px;
        max-width:400;
        min-width:300;
        background-color: '#363A3E';
      }
      .profile__headerTop{
          padding-top: 10px;
      }
      .profile__headerTop > .MuiIconButton-root {
        margin-left: 30px;
        margin-top: -30px;
    }
  }

  @media (min-width: 451px) and (max-width:2048px){
    .profile{
        max-width:500;
        min-width:400;
        background-color: '#363A3E';
        
      }
      .profile__headerTop > .MuiIconButton-root {
        margin-left: 300px;
        margin-top: -30px;
    }
  }

.profile{
    background-color: '#363A3E';
    display: flex;
   
    
}

.profile__header{
color: aliceblue;
background-color: #33373B;
padding-bottom: 30px;
}
.profile__headerTop{
    display: flex;
    background-color:#33373B;
}

.profile__headerEditButton> button{
    color: aliceblue;
    background-color:#556ab5;
}
.profile__headerEditButton> button:hover{
    background-color:#7389DA;
}

.profle__headerInfo{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.profile__headerTypography{
    color: aliceblue;
    margin-left: 20px;
}

.profile__footer{
    display: flex;
    flex-direction: column;
    background-color: #3F4347;
    padding: 10px;
    height: 57vh;
}
.profile__footer > .MuiCardContent-root:last-child{
    color: aliceblue;

}
.profile__footerStats{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.profile__footerStatsEvents .profile__footerStatsFriends .profile__footerStatsPosts{
    display: flex;
    flex-direction: column;
}
