
/* =================================================Hide the sidebar for displays smaller than 450px================================================== */
@media (max-width:450px){
    .sidebar{
        display: none;
    }
}

/* ========================================================================================================================================== */
.sidebar{
    background-color: #2E3236;
    border-right:1px solid #111111;
    /* sidebar will always take 30% of the screen */
    flex:0.3;
    /*dont be less that 300px*/                                      /*SIDEBAR WIDTH*/         
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;

}

.sidebar__tweet{
    background-color: var(--twitter-color) !important;
    border: none;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}
.sidebar__twitterIcon{
    color: var(--twitter-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-top: 20px;
}

.MuiSvgIcon-root:hover{
    background-color:#6B6B6B;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out ;

}
