.sidebarOptions{
    display: flex;
    /*vertically align icon and text*/
    align-items: center;
    cursor: pointer;
   
}

/*material-ui adds its own class 'MuiSvgIcon-root' to its */
/*if you find a class 'MuiSvgIcon-root' inside .sidebarOptions add the follwing styles*/
.sidebarOptions > .MuiSvgIcon-root{
padding: 20px;
}

.sidebarOptions >h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}



.sidebarOptions--active{
    color: var(--twitter-color);
}