/* =================================================Hide the widgets for displays smaller than 450px================================================== */
@media (max-width:450px) {

    .widgets {
        display: none;
    }

    /* ======================================================================================================================= */
}

.widgets {
    flex: 0.3;
    /* overflow-y: scroll; */
    background-color: #2E3236;
    min-width: 360px;
}

.widgets__inputBox {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #191919;
    padding:10px;
    border-radius: 20px;
    margin-top:10px;
    margin-left:20px;
    margin-right: 20px; */

}

.widgets__input {
    width: 100%;
}

.widgets__searchIcon {
    color: aliceblue;
}

.widgets___widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #191919;
    border-radius: 20px;
    height: 80vh;
    overflow-y: scroll;
}

 /* hiding scrollbar  */
 .widgets___widgetContainer{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.widgets___widgetContainer::-webkit-scrollbar{
    display: none;
}

.widgets__widgetContainer>h2 {
    font-size: 18px;
    font-weight: 800;
}

input>.ais-SearchBox-input {
    background-color: #1b1b1b !important;

}

/* .ais-SearchBox-form > button {
    background-color: #2E3236;
    border-radius: 5px;
    margin: 4px;
    border: none;
} */

.widgets__search__hit {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #1b1b1b;
    border-radius: 0px;
    height: 60px;
    margin-bottom: 1px;
    padding-left: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.widgets__search__hit__content {
    margin: 5px;
}

.widgets__search__hit__avatar {
    height: 32px !important;
    width: 32px !important;
}

.widgets__search__hit__displayName {
    color: aliceblue;
    font-size: small;
}

.widgets__search__hit__bio {
    font-size: x-small;
    color: gray;
}

.widgets__search__searchBox input, .widgets__search__searchBox button{
    padding: 0.5rem;
    border-radius: 0.8rem;
}
.widgets__search__searchBox input::placeholder{
    font-weight: bold;
}
.widgets__search__searchBox input{
    color: aliceblue;
    background-color: rgb(54, 54, 54);
    margin-right: 0.2rem;
}

.widgets__search__searchBox button{
    background-color: aliceblue;
    border: transparent;
    margin: 0 0.2rem;
    cursor: pointer;
}