.sidebarOptions{
    display: flex;
    /*vertically align icon and text*/
    align-items: center;
    cursor: pointer;
}

/*material-ui adds its own class 'MuiSvgIcon-root' to its */
/*if you fine a class 'MuiSvgIcon-root' inside .sidebarOptions add thw follwing styles*/
.sidebarOptions > .MuiSvgIcon-root{
padding: 20px;
}

.sidebarOptions >h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOptions:hover{
    background-color: #7389DA;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out ;

}

.sidebarOptions--active{
    color: var(--twitter-color);
}